// Use this to write your custom SCSS

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Regular', sans-serif !important;
}

.dots-main-post-title {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dots-main-post-detail {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.container {
  max-width: 1480px;
}

.dots-dongpae-point-title {
  font-size: 36px;
  font-weight: 700;
  color:black;
  line-height: 1.4em;
  margin-bottom:20px;
}

.dots-dongpae-point {
  display:flex;
  justify-content: space-between;
}
.dots-dongpae-point > div {
  width: 49%;
}
.dots-dongpae-point-left > div:first-child {
  border: 1px solid var(--bs-border-color);
  border-radius: 10px;
  padding: 25px 25px 40px 25px;
  background: url('/img/dongpae/quality-assurance.png') no-repeat calc(100% - 20px) calc(100% - 20px)
}
.dots-dongpae-point-left .customer-service {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.dots-dongpae-point-left .customer-service > div {
  border: 1px solid var(--bs-border-color);
  border-radius: 10px;
  padding: 25px 25px 40px 25px;
  width: 49%
}
.dots-dongpae-point-left .customer-service > .customer-service-left {
  background: url('/img/dongpae/customer-satiffication.png') no-repeat calc(100% - 20px) calc(100% - 20px)
}
.dots-dongpae-point-left .customer-service > .customer-service-right {
  background: url('/img/dongpae/product-maintenance.png') no-repeat calc(100% - 20px) calc(100% - 20px)
}
.dots-dongpae-point-right {
  position: relative;
  border: 1px solid var(--bs-border-color);
  border-radius: 10px;
  padding: 20px;
}
.dots-dongpae-point-right > a {
  display: inline-block;
  border: 1px solid var(--bs-border-color);
  padding: 7px 15px;
  border-radius: 30px;
}
.dots-dongpae-point-right > a:hover, .dots-dongpae-point-right > a:focus{
  color: var(--medium-gray);
}
.dots-dongpae-point-right img {
  position: absolute;
  bottom: -130px;
  right: 0;
}
@media (max-width: 992px) {
  .dots-dongpae-point {
    display: block;
  }
  .dots-dongpae-point > div {
    width: auto;
  }
  .dots-dongpae-point-right {
    margin-top: 20px;
  }
  .dots-dongpae-point-right img{
    width:200px;
    height: auto;
    bottom: 0
  }
}
@media (max-width: 767px) {
  .dots-dongpae-point-right img{
    width:100px;
    height: auto;
    bottom: 0
  }
}

/* 문의하기 */
.dots-number {
  position: relative;
  top: -2px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
}

.dots-dongpae-form2 {
  display: flex;
  justify-content: space-between;
  margin:0 -10px 10px;
}
.dots-dongpae-form2 > div {
  width: 20%;
  margin: 0 10px;
}
.dots-dongpae-form2 input {
  display: none;
}
.dots-dongpae-form2 input + label{
  height: 60px;
  line-height: 60px;
  transition: background 0.2s ease-out;
}
.dots-dongpae-form2 input:checked + label {
  background-color: #3f78e0;
  color: #fff;
}



/* Color */
.dots-bg-color1 {
  background-color: #222;
  * {
    border-color: rgba(164, 174, 198, 0.2) !important;
  }
}

.dots-bg-navy {
  --bs-bg-opacity: 1;
  background-color: #1C2436;
}

/* Sitemap */
.sitemap ul {list-style: none}
.sitemap > div > ul > li > ul > li{
  margin-top:15px;
}


.active {
  color: black !important;
  box-sizing: content-box;
  border-bottom: 2px solid black !important;
}

.clip-background {
  position: absolute;
  top: -27px;
  right: 25px;
  width: 176px;
  height: 72px;
  background:url("/img/hyundai/clip-background.svg") no-repeat 0 0;
  background-size: 176px 72px;
  color:#fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 85px;
  text-indent: 23px;
}

.dots-portfolio-detail {
  height: 82px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #9e9e9e;
}


.navbar-dark .dots-hamburger i {
  color: #fff !important;
}



/* Text */
.text-keep-all {
  word-break: keep-all !important;
}


.card {
  box-shadow: 0 0 0 0.05rem rgba(8, 60, 130, 0.06);
  border: 0;
  .post-content {
    p {
      color: #9e9e9e !important;
    }
  }
}

.business-more {
  width: 50px;
  height: auto;
  aspect-ratio: 337 / 204;
  background: url("/img/hyundai/main/main-more-bg.png") no-repeat 0 0;
  background-size: 100% 100%;
}
